<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400845601317-s4om9b0r6k39g9m1adngr6asoevetnbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400845601317-s4om9b0r6k39g9m1adngr6asoevetnbj</string>
	<key>API_KEY</key>
	<string>AIzaSyD2oyo5oX9AM2kLIYIA2z69coQUz2Zsm38</string>
	<key>GCM_SENDER_ID</key>
	<string>400845601317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vouch.app</string>
	<key>PROJECT_ID</key>
	<string>majorcitymusteats</string>
	<key>STORAGE_BUCKET</key>
	<string>majorcitymusteats.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400845601317:ios:fea74b6b900185cba05dcc</string>
</dict>
</plist>